{% extends 'main.html' %}
{% load static  %}

{% block content %}
{% if request.user.is_authenticated %}
<section id="treinamentos">
    <div class="hero-image pt-5 pb-5">
        <div class="container col-md-6 p-5 bg-dark text-white">
            <h1>Treinamentos <br>DESA ENGENHARIA</h1>
            <p>NRs 18 & 34 - Condições e Meio Ambiente de Trabalho na Indústria da Construção - Trabalho a Quente </p>
            <div class="row">
                <a href="https://www.gov.br/trabalho-e-previdencia/pt-br/composicao/orgaos-especificos/secretaria-de-trabalho/inspecao/seguranca-e-saude-no-trabalho/normas-regulamentadoras/nr-18-atualizada-2020-1.pdf" target="_blank" class="btn btn-dark-blue text-light">NR-18 em PDF</a>

                <a href="https://www.gov.br/trabalho-e-previdencia/pt-br/composicao/orgaos-especificos/secretaria-de-trabalho/inspecao/seguranca-e-saude-no-trabalho/normas-regulamentadoras/nr-34-atualizada-2022.pdf" target="_blank" class="btn btn-dark-blue text-light mt-3">NR-34 em PDF</a>

                <a href="/videos18-soldagem/" target="_blank" class="btn btn-dark-blue text-light mt-3">Videos</a>          
                <a href="/slides18-soldagem/" target="_blank" class="btn btn-dark-blue text-light mt-3">Apresentação em Power Point</a>  
                <a href="https://forms.gle/oMw9WkbkHgXw2Ppk7" target="_blank" class="btn btn-dark-blue text-light mt-3">Avaliação / Prova</a>
                <a href="/treinamentos/" class="btn btn-danger mt-3">Sair</a>
            </div>      
        </div>
    </div>
</section>  
{% else %}
Você não tem acesso a essa área
{% endif %}
{% endblock %}